*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  scroll-behavior: smooth;
  // main lore font
  font-family: "Aleo", serif;
  height: 100%;
  line-height: 1;
  font-size: 100%;
  font-size: 16px;
  // main text-color
  color: #0d606f;
  background-color: #e5e5e5;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #ffffff;
  position: relative;
}
/*end of starting*/
[class*="__container"] {
  // max-width = maket width + side padding * 2 (1440 + 15 + 15)
  max-width: 1230px;
  margin: 0 auto;
  // side padding
  padding: 0 15px;
}
.button {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  padding: 13.5px 32px;
  background: #0d606f;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  font-family: "Red Hat Text";
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  transition: all 0.3s ease 0s;
  @media (max-width: 767.98px) {
    font-size: 11px;
    line-height: 15px;
    /* identical to box height */
  }
}
// ======================HEADER
.header {
  position: absolute;
  @media (min-width: 767.98px) {
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
  }
  color: #ffffff;
  display: block;
  top: 0px;
  left: 0;
  width: 100%;
  z-index: 2;

  &__container {
  }
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    @media (max-width: 767.98px) {
      height: inherit;
      padding: 43px 0 0;
    }
  }

  &__logo-link {
    display: flex;
    gap: 6px;
    align-items: flex-start;
  }

  &__logo-name {
    display: none;
    @media (min-width: 768px) {
      display: block;
    }
    font-family: Magra, sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #ffffff;
    padding-right: 15px;
    @media (max-width: 1023.98px) {
      padding-right: 5px;
      font-size: 20px;
    }
  }

  &__nav-n-burger {
    position: relative;
  }

  &__nav-body {
    position: absolute;
    z-index: 2;
    top: -500px;
    left: -550%;
    transition: all 0.5s ease-out 0s;
    background: #f2785c;
    box-shadow: 0px 4px 3px rgba(13, 96, 111, 0.25);
    border-radius: 10px;
    padding: 44px 22px 31px 37px;

    @media (min-width: 767.98px) {
      position: relative;
      display: block;
      top: 0px;
      left: 0px;

      background-color: unset;
      box-shadow: none;
      padding: 0;
    }
    // yes/no
    @media (min-width: 1439.98px) {
      transform: translateX(-22px);
    }
  }

  &__nav-list {
    display: flex;
    gap: 42px;
    @media (max-width: 1023.98px) {
      gap: 15px;
      padding: 0 5px;
    }
    @media (max-width: 767.98px) {
      flex-direction: column;
      align-items: flex-end;
      padding: 0;
      gap: 10px;
    }
  }

  &__nav-item {
    a {
      text-decoration: none;
      cursor: pointer;
      font-family: "Red Hat Text";
      font-weight: 500;
      font-size: 16px;
      line-height: 21px;
      color: #ffffff;
      text-align: center;
      align-items: center;
      justify-content: center;
      transition: all 0.7s ease 0s;
    }
    &:hover {
      border-bottom: #ffffff solid 1px;
      transform: translateY(-2px);
    }
  }
  &__nav-item.hidden {
    @media (min-width: 767.98px) {
      display: none;
    }
  }
  &__burger-cnt {
    z-index: 50;
    padding: 0 3px;
    position: relative;
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 32px;
    width: 35px;
    top: 0;
    left: 0;
    @media (max-width: 767.98px) {
      display: flex;
    }
  }
  &__burger-line {
    position: absolute;
    height: 2.67px;
    width: 26.25px;
    background-color: #ffffff;
    border-radius: 10px;
    transition: all 0.5s ease-in-out 0s;
    &::before,
    &::after {
      content: "";
      height: 2.67px;
      width: 26.25px;
      position: absolute;
      background-color: #ffffff;
      border-radius: 10px;
      transition: all 0.5s ease-in-out 0s;
    }
    &::before {
      transform: translateY(-6.67px);
    }
    &::after {
      transform: translateY(6.67px);
    }
  }
  &__nav-wrapper {
    height: 100vh;
    width: 100vw;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
  }
  &__nav-wrapper.active2 {
    display: block;
    // z-index: 1;
  }
  //  ANIMATION
  &__burger-cnt.open {
    transform: translate(-185px, -35px);
    opacity: 0.7;
    transition: all 0.3s ease 0.1s;
  }
  &__burger-cnt.open .header__burger-line {
    transform: translateX(-27px);
    background: transparent;

    &::before {
      transform: rotate(45deg) translate(19px, -19px);
    }
    &::after {
      transform: rotate(-45deg) translate(19px, 19px);
    }
  }
  &__form {
    display: none;
    @media (min-width: 767.98px) {
      display: block;
    }
  }
  &__login {
    cursor: pointer;
    padding: 10px 30px;
    background-color: #0d606f;
    border-radius: 10px;
    font-family: "Red Hat Text";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    &:hover {
      opacity: 1.1;
      transform: translateY(-2px);
    }
    transition: all 0.25s ease 0s;
  }
}

// ======================PREVIEW
._ibg {
  img {
    position: absolute;
    object-fit: cover;
    width: 100%;
  }
}
.preview {
  margin-bottom: 80px;
  padding: 0px 0px 254px 0px;
  // padding: 0px 0px 64.36% 0px;
  position: relative;
  z-index: 1;
  background-image: url(../assets/img/Section1/bacground-h1.jpg);
  background-origin: border-box;
  background-repeat: no-repeat;
  background-color: #0d606f;
  // background-size: 120%;
  color: #ffffff;
  @media (max-width: 1200.98px) {
    padding: 0px 0px 15% 0px;
  }
  @media (max-width: 1023.98px) {
    padding: 0px 0px 90px 0px;
  }
  @media (max-width: 767.98px) {
    background-image: linear-gradient(180deg, #0d606f 0%, rgba(13, 96, 111, 0) 25.1%),
      url(../assets/img/Section1/bacground-h1.jpg);
    background-size: 180%;
    margin-bottom: 40px;
  }
  @media (max-width: 500.98px) {
    background-size: 230%;
    padding: 0px 0px 65px 0px;
  }
  @media (max-width: 390px) {
    background-image: linear-gradient(180deg, #0d606f 0%, rgba(13, 96, 111, 0) 25.1%),
      url(../assets/img/Section1/bacground-h1-small.jpg);
    background-size: auto;
    padding: 0px 0px 61px 0px;
    margin: 0px 0px 20px 0px;
  }

  &__container {
  }

  &__body {
    padding-top: 122px;
    max-width: 892px;
    position: relative;
    // z-index: ;
    @media (max-width: 390px) {
      padding-top: 142px;
    }
  }

  &__title {
    font-family: "Aleo";
    font-weight: 700;
    font-size: 80px;
    line-height: 120%;
    // line-height: 96px;
    padding: 0px 0px 32px 0px;
    @media (max-width: 1023.98px) {
      font-size: 60px;
    }
    @media (max-width: 767.98px) {
      font-size: 40px;
    }
    @media (max-width: 767.98px) {
      display: none;
    }
  }

  &__subinfo {
    padding: 0px 0px 46px 0px;
    font-family: "Aleo";
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */
    @media (max-width: 767px) {
      font-weight: 500;
      padding: 0px 0px 25px 0px;
    }
    @media (max-width: 390px) {
      display: none;
    }
  }

  &__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
  }

  &__input {
    margin: 0px 0px 0px 41px;
    // flex: 1 1 auto;
    background: rgba(255, 255, 255, 0);
    font-family: "Aleo";
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    border: 0px solid rgba(0, 0, 0, 0);
    // убирвем обводку при клике
    outline: none;
    @media (max-width: 767.98px) {
      margin: 0 16.5px;
      font-size: 18px;
      color: #f2785c;
    }
    @media (max-width: 424.98px) {
      font-size: 16px;
    }
    @media (max-width: 390px) {
      font-size: 14px;
      color: #f2785c;
    }
    @media (max-width: 359.98px) {
      margin: 0 2px;
      font-size: 12px;
    }

    &::placeholder {
      font-family: "Aleo";
      font-style: italic;
      font-weight: 400;
      font-size: 24px;
      // line-height: 29px;
      line-height: 121%;
      height: 41px;
      color: rgb(242, 120, 92);
      @media (max-width: 767.98px) {
        font-size: 18px;
        color: #f2785c;
      }
      @media (max-width: 390px) {
        font-size: 14px;
      }
      @media (max-width: 359.98px) {
        font-size: 12px;
      }
    }
  }

  &__button {
    margin: 18px;
    &:hover {
      transform: translateY(-2px);
      transition: all 0.25s ease 0s;
    }
    @media (max-width: 767.98px) {
      padding: 7.5px 9px;
      margin: 9px;
    }
  }
}

.steps {
  padding: 0px 0px 97px 0px;
  @media (max-width: 767.98px) {
    padding: 0px 0px 40px 0px;
  }
  @media (max-width: 390px) {
    padding: 0px 0px 20px 0px;
  }
  &__container {
  }

  &__h2-title {
  }

  &__row {
    display: flex;
    justify-content: space-between;
    gap: 90px;
    @media (max-width: 767.98px) {
      gap: 10px;
    }
    @media (max-width: 390px) {
      gap: 40px;
    }
    @media (max-width: 374.98px) {
      gap: 5px;
    }
  }

  &__item {
    flex: 1 1 33.33%;
    :not(:last-child) {
      padding: 0px 0px 30px 0px;
      @media (max-width: 390px) {
        padding: 0px 0px 20px 0px;
      }
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  &__image {
    justify-self: start;
    img {
      height: 100px;
      width: 100px;
      align-items: flex-end;
      @media (max-width: 767.98px) {
        height: 70px;
        width: 70px;
        border-radius: 16px;
      }
    }
  }

  &__step-name {
    font-family: "Aleo";
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    justify-content: center;
    /* identical to box height */
    @media (max-width: 767.98px) {
      font-size: 14px;
    }
    @media (max-width: 390px) {
      font-size: 10px;
      line-height: 12px;
    }
  }
}
#step-col-1 {
  @media (max-width: 390px) {
    .steps__image {
      align-self: flex-start;
    }
    .steps__step-name {
      text-align: left;
    }
  }
}
#step-col-2 {
  @media (max-width: 390px) {
    .steps__step-name {
      display: block;
      width: 112px;
    }
  }
}
#step-col-3 {
  @media (max-width: 390px) {
    .steps__image {
      align-self: flex-end;
    }
    .steps__step-name {
      text-align: right;
    }
  }
}

.h2-title {
  padding: 0px 0px 40px 0px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Red Hat Text";
  font-weight: 500;
  font-size: 40px;
  line-height: 132.5%;
  // line-height: 53px;
  /* identical to box height */
  color: #f2785c;
  @media (max-width: 767.98px) {
    padding: 0px 0px 30px 0px;
    font-size: 24px;
  }
  @media (max-width: 390px) {
    padding: 0px 0px 20px 0px;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
  }
}

// ================================== DESTINATIONS

.destinations {
  &__body {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 80px 0px;
    @media (max-width: 767.98px) {
      padding: 0px 0px 40px 0px;
    }
    @media (max-width: 390px) {
      padding: 0px 0px 20px 0px;
    }
  }

  &__h2-title {
    padding: 0px 0px 46px 0px;
    @media (max-width: 767.98px) {
      padding: 0px 0px 20px 0px;
    }
  }

  &__gallery {
    position: relative;
  }

  &__row {
    position: relative;
    display: flex;
    gap: 60px;
    justify-content: center;
  }
  &__item {
    flex-direction: column;
    @media (max-width: 767.98px) {
      position: relative;
      display: none;
      // flex: 1 1 auto;
      padding: 0 15px;
    }
  }
  .active-dest {
    display: block;
    display: flex;
    flex: 1 1 auto;
    position: relative;
  }
  &__arrows {
    position: absolute;
    display: none;
    z-index: 5;
    top: 50%;
    width: calc(100% - (30px));
    // padding: 0 30px;
    justify-content: space-between;
    transform: translateY(-50%);

    @media (max-width: 767.98px) {
      display: flex;
    }
  }
  &__arrow-left {
    padding-left: 11.27px;
  }

  &__arrow-right {
    padding-right: 11.27px;
  }

  &__img {
    cursor: pointer;
    position: relative;
    transition: all 0.25s ease 0s;

    @media (max-width: 767.98px) {
      position: relative;
      display: block;
      padding: 0px 0px 58.33% 0px;
    }
    img {
      background: #ffffff;
      border-radius: 16px;
      @media (max-width: 1023.98px) {
        height: 500px;
      }
      @media (max-width: 767.98px) {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        // height: 100%;
      }
    }
    &:hover {
      transform: scale(1.03);
    }
  }

  &__country-name {
    transform: translate(15px, -82px);
    text-transform: uppercase;
    font-family: "Red Hat Text";
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    color: #ffffff;

    @media (max-width: 767.98px) {
      position: absolute;
      width: 60px;
      height: 26px;
      left: 12px;
      top: calc(10vh);
    }
    @media (max-width: 434.98px) {
      font-size: 20px;
      line-height: 26px;
    }
  }

  &__dots {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: -18px 0px 0px 0px;
    position: relative;
    z-index: 5;
    padding: 0px 0px 40px 0px;

    @media (max-width: 767.98px) {
      position: absolute;
      left: calc((50vw) - (65px / 2));
      margin-top: -4vh;
      padding: 0px;
    }
    @media (max-width: 434.98px) {
      position: absolute;
      margin: 0;
      left: calc((49vw) - 15px);
      transform: translateY(-5vw);
      gap: 6px;

      // margin-top: -2vh;
    }
  }

  &__dot {
    cursor: pointer;
    display: block;
    content: "";
    background-color: rgba(242, 119, 92, 0.5);
    height: 20px;
    width: 20px;
    border-radius: 50%;

    @media (max-width: 767.98px) {
      height: 16px;
      width: 16px;
    }
    @media (max-width: 434.98px) {
      height: 8px;
      width: 8px;
    }

    &:hover {
      background-color: #f2785c;
      transform: scale(1.15);
      // width: 25px;
      // border-radius: 70%;
    }
    transition: all 0.25s ease 0s;
  }

  &__form {
    @media (max-width: 767.98px) {
      margin: 10px 0px 0px 0px;
    }
    justify-content: center;
    display: flex;
  }

  &__button {
    padding: 9.5px 31px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

    @media (max-width: 767.98px) {
      padding: 7.5px 12px;
      gap: 6px;
    }
    img {
      height: 40px;
      width: 40px;

      @media (max-width: 767px) {
        height: 10px;
        width: 10px;
      }
    }
  }
}
.active-dot {
  background-color: rgba(242, 119, 92, 1);
}

// ================== stories & footer

.stories {
  &__container {
  }

  &__h2-title {
    @media (max-width: 767.98px) {
      padding: 0px 0px 10px 0px;
    }
  }
  &__body-bg {
    position: relative;
    z-index: 1;
    background: url(../assets/jpg/travel-stories/stories-footer-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0d606f;
    @media (max-width: 390.98px) {
      background: url(../assets/img/footer/footer-small.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-color: #0d606f;
    }
  }
  &__body-bg-white {
    position: relative;
    z-index: 1;
    background: url(../assets/png/white-bg.png);
    @media (max-width: 390.98px) {
      background: rgba(255, 255, 255, 0.7);
    }
  }
  &__body {
    position: relative;
    z-index: 20;
    opacity: 1;
  }

  &__list-stories {
  }

  &__form {
    padding: 0px 0px 41px 0px;
    justify-content: center;
    display: flex;

    @media (max-width: 767.98px) {
      padding: 0px 0px 20px 0px;
    }
    @media (max-width: 424.98px) {
      padding: 0px 0px 13px 0px;
    }
  }
  &__button {
    padding: 9.5px 31px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

    @media (max-width: 767.98px) {
      padding: 7.5px 13.5px;
      gap: 6px;
    }
    img {
      height: 40px;
      width: 40px;
      @media (max-width: 767.98px) {
        height: 20px;
        width: 20px;
      }
      @media (max-width: 424.98px) {
        height: 10px;
        width: 10px;
      }
    }
  }
}

.stories-list {
  padding: 40px 0px;

  @media (max-width: 767.98px) {
    padding: 20px 0px;
  }
  @media (max-width: 424.98px) {
    padding: 10px 0px;
  }

  &__item {
    &:hover {
      background-color: rgba(242, 120, 92, 0.512);
      border-radius: 50px;
      transform: scale(1.03);
      transition: all 0.3s ease 0s;
      @media (max-width: 767.98px) {
        border-radius: 30px;
      }
    }
    transition: all 0.4s ease 0s;
    &:not(:last-child) {
      margin: 0px 0px 30px 0px;
      @media (max-width: 424.98px) {
        margin: 0px 0px 15px 0px;
      }
    }
  }
  &__ref {
    display: flex;
    gap: 40px;
    text-decoration: none;
    font-family: "Aleo";
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0d606f;
    // align-items: center;
    // поставил align-self на content. Картинка если центрирована, то умирает

    @media (max-width: 767.98px) {
      gap: 20px;
    }
    @media (max-width: 424.98px) {
      gap: 10px;
    }
  }

  &__image {
    @media (max-width: 1023.98px) {
      flex: 0 0 43.1%;
      position: relative;
    }

    img {
      filter: drop-shadow(0px 4px 4px #0d606f);
      border-radius: 16px;

      @media (max-width: 1023.98px) {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
  &__content {
    align-self: center;
    @media (max-width: 424.98px) {
      padding: 5px 0px 0px 0px;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
    padding: 0px 0px 24px 0px;
    @media (max-width: 1024.98px) {
      font-size: 28px;
    }
    @media (max-width: 1023.98px) {
      font-size: 22px;
    }
    @media (max-width: 767.98px) {
      padding-bottom: 10px;
      line-height: 100%;
      font-size: 18px;
    }
    @media (max-width: 424.98px) {
      font-size: 11px;
      line-height: 13px;
    }
  }

  &__text {
    @media (max-width: 1024.98px) {
      font-size: 0.9rem;
    }
    @media (max-width: 1023.98px) {
      font-size: 0.9rem;
    }
    @media (max-width: 767.98px) {
      display: -webkit-box;
      -webkit-line-clamp: 8;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;

      font-size: 13px;
      line-height: 16px;
    }
    @media (max-width: 424.98px) {
      font-size: 9px;
      line-height: 11px;
    }
  }

  &__read-more {
    display: block;
    font-weight: 700;
    text-decoration-line: underline;

    @media (max-width: 1023.98px) {
      font-size: 0.9rem;
    }
    @media (max-width: 424.98px) {
      font-size: 9px;
      line-height: 11px;
      // pixel-perfect for images
      padding: 0px 0px 3px 0px;
      font-weight: 700;
    }
  }
}

.footer {
  &__body {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 61px;
    // gap: 27.3333%;
    justify-content: space-between;
    // gap: 328px;
    @media (max-width: 424.98px) {
      height: 65px;
    }
  }
  &__my-sotial-list {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
  &__text {
    font-family: "Red Hat Text";
    font-weight: 500;
    font-size: 16px;
    // line-height: 21px;
    line-height: 131.25%;
    color: #ffffff;

    @media (max-width: 767.98px) {
      font-size: 12px;
    }
    @media (max-width: 424.98px) {
      display: none;
    }
  }

  &__sotial-ul {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }

  &__list-item {
    display: flex;
    @media (max-width: 424.98px) {
      a {
        display: block;
        height: 33.65px;
        width: 33.65px;
        img {
        }
      }
    }
  }
}

.popup.open {
  opacity: 1;
  visibility: visible;
}
.popup {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease 0s;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 20;

  &__wrapper {
    position: relative;
    z-index: 1;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (max-width: 767.98px) {
      padding: 0 15px;
    }
  }

  &__bgc-close {
    opacity: 0;
    visibility: hidden;
    height: 100vh;
    width: 100vw;
    // display: none;
    position: fixed;
    top: 0;
    left: 0;
  }
  &__bgc-close.active2 {
    opacity: 1;
    visibility: visible;
    // z-index: 1;
  }

  &__inner-body {
    position: relative;
    z-index: 2;
    background: linear-gradient(177.09deg, #ffffff 6.15%, #0d606f 202.69%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0px 45px;
    max-height: 660px;
    max-width: 650px;

    @media (max-width: 767.98px) {
      width: 100%;
      padding: 0px 20px;
    }
  }

  &__welcome {
    text-align: center;
    padding: 25px 0px 0px 0px;

    font-weight: 700;
    font-size: 32px;
    // line-height: 38px;
    line-height: 120%;

    @media (max-width: 424.98px) {
      padding: 15px 0px 0px 0px;
      font-size: 20px;
    }
  }

  &__sotials {
    padding: 30px 0px 29px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (max-width: 424.98px) {
      padding: 10px 0px 5px;
      gap: 8px;
    }
  }

  &__facebook {
    background: #1877f2;
    span {
      color: #ffffff;
    }
  }
  .pop-button {
    cursor: pointer;
    padding: 15px 0px;
    gap: 15.5px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Red Hat Text";
    font-weight: 400;
    font-size: 20px;
    // line-height: 26px;
    line-height: 130%;

    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;

    @media (max-width: 424.98px) {
      padding: 8px 0px;
      font-size: 18px;
      gap: 10px;
    }
  }

  &__google {
    background: #ffffff;
    span {
      color: #0d606f;
    }
  }

  &__or {
    display: flex;
    position: relative;
    align-items: center;
    gap: 9px;
    p {
      text-align: center;
      font-weight: 700;
      font-size: 20px;
      // line-height: 24px;
      line-height: 130%;
      /* identical to box height */
      color: rgba(13, 96, 111, 0.5);

      @media (max-width: 424.98px) {
        font-size: 16px;
      }
    }
  }

  &__or-line {
    content: "";
    height: 1px;
    width: 100%;
    // width: 100%;
    background-color: rgba(13, 96, 111, 0.5);
  }

  &__inpits {
  }
  &__lebel {
    p {
      line-height: 19px;
      padding: 0px 0px 5px 0px;
    }
    input {
      display: block;
      width: 100%;
      color: slategray;
      padding: 10px;
      font-size: 20px;
      height: 54px;
      outline: none;
      background: #ffffff;
      box-shadow: inset 0px 0px 3px rgba(13, 96, 111, 0.08), inset 0px 2px 3px rgba(13, 96, 111, 0.16);
      border-radius: 10px;

      @media (max-width: 424.98px) {
        padding: 7px;
        font-size: 16px;
        height: 35px;
      }
    }
  }
  &__email {
    padding: 9px 0px 0px 0px;
    @media (max-width: 424.98px) {
      padding: 0px;
    }
  }

  &__password {
    padding: 20px 0px 25px 0px;
    @media (max-width: 424.98px) {
      padding: 10px 0 20px;
    }
  }

  &__sign-in {
    display: flex;
    width: 100%;
    background: #0d606f;
    color: #ffffff;
    span {
    }
  }

  #popup__sign-in {
    padding: 14px 0px;
    @media (max-width: 424.98px) {
      padding: 8px 0px;
    }
  }

  &__pass-forgot {
    cursor: pointer;
    padding: 11px 0px 25px 0px;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
    // line-height: 18px;
    line-height: 120%;
    /* identical to box height */

    text-decoration-line: underline;

    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);

    @media (max-width: 424.98px) {
      padding: 8px 0px 15px 0px;
      font-size: 12px;
    }
  }

  &__bot-devider {
    content: "";
    height: 1px;
    width: 100%;
    background-color: rgba(13, 96, 111, 0.5);
  }

  &__have-account {
    padding: 21px 0px 23px 0px;
    text-align: center;
    font-family: "Aleo";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    line-height: 120%;
    /* identical to box height */

    color: rgba(13, 96, 111, 0.5);

    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
    span {
      color: #0d606f;
      text-decoration: underline;
    }

    @media (max-width: 424.98px) {
      padding: 8px 0px 15px 0px;
      font-size: 12px;
    }
  }
}
